# Ignorar frontend completo

# Node (por si hay cosas sueltas)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db